./datasets
output
_tmp*
cookies.txt
data/clips
**videos**
**wavs**

**__pycache__**

prepare_pyannote.py

data/Voices-AWS/dataset_duration=3_overlap=0/
data/Voices-AWS/dataset_duration=5_overlap=2/
data/Voices-AWS/interview/audios/
data/Voices-AWS/reading/audios/
result/